[Unit]
Description=Portainer Docker Orchestration
After=docker.service
Requires=docker.service

[Service]
User=services
WorkingDirectory=/opt
ExecStart=/usr/bin/docker run --rm --name portainer -p 9000:9000 -v /etc/letsencrypt/archive/bitnexus.net:/certs -v /opt/portainer:/data -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer --ssl --sslcert /certs/cert1.pem --sslkey /certs/privkey1.pem
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
